.Hangman {
  width: 400px;
  color: #333;
  text-align: center;
}

.Hangman img {
  border: 10px solid #dfdccb;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.27),
    0 0 40px rgba(0, 0, 0, 0.06) inset;
}

.Hangman h1 {
  font-size: 4rem;
  font-weight: 100;
  margin-bottom: 0.1em;
  margin-top: 0;
}

.Hangman-wrong {
  color: red;
  font-weight: bold;
}

.Hangman-word {
  letter-spacing: 1em;
  margin: 0.4em -1em 0.2em 0;
  font-size: 2rem;
}

.Hangman-btns {
  text-align: center;
  display: inline-block;
  width: 250px;
  margin-top: 0;
}
.Hangman button {
  border: none;
  font-family: inherit;
  font-size: 1rem;
  cursor: pointer;
  width: 30px;
  margin: 5px 2px 2px 2px;
  letter-spacing: 1px;
  outline: none;
  background: #859945;
  color: #fff;
  box-shadow: 0 6px #9cb051;
  border-radius: 5px;
  padding-top: 4px;
}

.Hangman button:hover {
  background-color: #9cb051;
}

.Hangman button:disabled {
  background: #bdbdbd;
  color: #eeeeee;
  box-shadow: 0 6px #9e9e9e;
}
#restart {
  width: auto !important;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background: #b34a0a;
  box-shadow: 0 6px #fb7c0d;
}
#restart:hover {
  background: #fb7c0d;
}

#restart:active {
  transform: scale(0.97);
}
