::-webkit-scrollbar {
  width: 12px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #333;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.TodoList {
  padding: 3rem;
  background-color: #ff8235;
  max-width: 700px;
  max-height: 800px;
  overflow: auto;
  color: #fff;
  box-shadow: -20px -20px 0 0 rgba(100, 100, 100, 0.1);
  border-radius: 5px;
}

.TodoList ul {
  margin-top: 2.6rem;
  list-style: none;
}

.TodoList h1 {
  font-size: 2.6rem;
  letter-spacing: 0.05em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.TodoList span {
  display: block;
  font-size: 0.8rem;
  margin-bottom: 0.8rem;
  font-weight: normal;
  margin-top: 0.4rem;
}
