.Todo {
  margin: 0 -3rem 4px;
  padding: 1.1rem 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0.1);
}

.Todo-task {
  position: relative;
  cursor: pointer;
}

.Todo-task.completed {
  opacity: 0.6;
}

.Todo-task.completed:before {
  content: '';
  position: absolute;
  top: 50%;
  left: -0.5rem;
  display: block;
  width: 0%;
  height: 2px;
  background: #fff;
  animation: strikeitem 0.5s ease-out 0s forwards;
}

@keyframes strikeitem {
  to {
    width: calc(100% + 1rem);
  }
}

.Todo-buttons button {
  border: none;
  font-size: 1em;
  margin: 0.4em;
  background: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: #fff;
}

.Todo-edit-form input {
  flex-grow: 1;
  border: none;
  outline: none;
  background: #f7f1f1;
  font-size: initial;
  padding: 0.1em 1.5em;
}

.Todo-edit-form button {
  padding: 0.1em 1.3em;
  font-size: 0.8em;
  color: #ff8008;
  background: #f7f1f1;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  transition: all 0.5s ease;
}

.Todo-edit-form button:hover {
  background: transparent;
  color: #fff;
  border: 1px solid white;
}

.Todo-edit-form input,
.Todo-edit-form button {
  font-family: 'Quicksand', sans-serif;
}
